﻿@model Roster.Models.DetailsModel
@{
    ViewBag.Title = "Details";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Manage your details</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>User Details</legend>
        <ol>
            <li>
                <label>eMail</label>
                @Html.TextBox("eMail", WebSecurity.CurrentUserName, null, new {disabled = true})
            </li>
            <li>
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName)
            </li>
            <li>
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName)
            </li>
            <li>
                @Html.LabelFor(m => m.MobilePhone)
                @Html.TextBoxFor(m => m.MobilePhone)
            </li>
            <li>
                @Html.LabelFor(m => m.Facebook)
                @Html.TextBoxFor(m => m.Facebook)
            </li>
            <li>
                @Html.LabelFor(m => m.Twitter)
                @Html.TextBoxFor(m => m.Twitter)
            </li>
            <li>
                @Html.LabelFor(m => m.Google)
                @Html.TextBoxFor(m => m.Google)
            </li>
        </ol>
        <input type="submit" value="Update" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
