﻿@model Roster.Models.RegisterMonthAvailabilityModel

@{
    ViewBag.Title = "Your availability for the month";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}

<h2>Hey @Model.UserName, Register @(Model.Date.ToString("MMMM") + "'s")  Availability</h2>


<p>Please deselect the Sundays you cannot be on team</p>
@using (Html.BeginForm())
{
    <ul>
        @for (int i = 0; i < Model.Sundays.Count; i++ )
        {
            <li>
                @Html.Label(string.Format("{0} ", Model.Sundays[i].Date.ToString("dd MMMM"))) 
                @Html.CheckBoxFor(m => m.Sundays[i].IsAvailable, new { @checked = "checked"})
                @Html.HiddenFor(m => m.Sundays[i].Date)
            </li>
        }
    </ul>
    
    @Html.HiddenFor(m => m.PersonID)
    @Html.HiddenFor(m => m.StartOfMonth)
    
    <input type="submit" value="Process Month"/>
}
